.App {
  font-size: 1.5rem;
  padding: 20px;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  background: rgba(0,0,0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
