.course {

   &__item {
     & + & {
       margin-top: 1rem;
     }
   }


  &__title {
    margin: 0;
    word-break: break-word;
  }

  &__header {
    display: grid;
    gap: 20px;

    @media (min-width: 560px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__total {
    margin: 0;
  }
}

.days {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    &+& {
      margin-top: 20px;
    }
  }
}